@page
@model Project1.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> @Model.title </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <form method="POST">
        <label> Nombre a Ingresar: </label>
        <input class="form-control" asp-for="title" />
        <button type="submit" class="btn btn-primmary">Post</button>
    </form>
</div>
