@page
@model Project1.Pages.Roulette.Create_Roulette_Model

<h1>Creating a New Roulette Table</h1> 

@if(@Model.roulette.rouletteID != null)
{
    <h2>The new roulette table has an Id: @Model.roulette.rouletteID </h2>
}
else
{
    <h2>The new roulette table has an Id: @Model.roulette.rouletteID </h2>
}
