@page

<h1>Welcome to the Roulette Menu</h1>

<div class="border container col-12">
    <img src="/images/Casino/RouletteTable.jpg" alt="Image of Roulette Table">
</div>

<h2>Navigation Buttons</h2>

<div class="border container col-12">
    <div class="row">
        <label class="col-4">Create Possible Results: </label>
        <a type="button" class="btn btn-primary col-8" asp-page="/Roulette/Create_Result">Create Results</a>
    </div>
    <div class="row">
        <label class="col-4">Create Roulette: </label>
        <a type="button" class="btn btn-primary col-8" asp-page="/Roulette/Create_Table">Create a Roulette Table</a>
    </div>
    <div class="row">
        <label class="col-4">Create Bet: </label>
        <a type="button" class="btn btn-primary col-8" asp-page="/Roulette/Create_Bet">Create a Bet</a>
    </div>
</div>